<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fishing.mapper.DictItemMapper">
    <select id="selectByDictCode" resultType="com.fishing.pojo.entity.DictItemEntity">
        SELECT di.*
        FROM sys_dict_item di
        JOIN sys_dict_type dt ON di.dict_type_id = dt.id
        WHERE dt.dict_code = #{dictCode}
          AND di.is_deleted = 0
          AND di.status = 1
        ORDER BY di.sort_order ASC
    </select>
</mapper>
